body {
    margin: auto;
    width: 1460px;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/
.navbar {
    margin: auto;
    margin-top: 47px;
    width: 74%;
    height: 27px;
    display: flex;
    justify-content: space-between;
    
}
.navbar__foodspin__icon, .navbar__chart__icon {
    z-index: 1;
}
.navbar__list {
    width: 25.5%;
    display: flex;
    justify-content: space-between;
    margin-left: -16%;
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    z-index: 5;
}

/*MAIN SECTION*/
.main__section {
    display: flex;
}
.main__section__info {
    margin-top: 212px;
    margin-left: 190px;
}

.dish__price {
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    color: #FF922C;
}

.color__modifier {
    color:  #54BF29;
}

.dish__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #333333;
    margin-top: 20px;
}

.dish__description {
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-transform: capitalize;
    color: #333333;
    margin-top: 12px;
    
}

.display__modifier {
    display: none;
}
.order__button {
    margin-top: 42px;
    width: 163px;
    height: 48px;
    background: #FF922C;
    box-shadow: 0px 20px 40px #F4E2D1;
    border-radius: 69px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
}

.wheel__section {
    background: #FFEEDE;
    height: 1157px;
    width: 1177px;
    position: relative;
    overflow: hidden;
    top: -700px;
    border-radius: 50%;
    transition: 0.3px;
}

#wheel {
    margin-left: 230px;
    position: absolute;
    top: 810px;
    overflow: hidden;
    transition: 0.4s;
}

.dish__image {
    width: 289px;
    height: 289px;
    position: relative;
    top: -200px;
    left: -20px;
}

.spin__button {
    width: 46px;
    height: 46px;
    border: 2px solid #FFFFFF;
    background-color: #FF922C;;
    border-radius: 50%;
}

.additional__image {
    width: 289px;
    height: 294px;
}

.button__modifier {
    background-color: #54BF29;
}

.dish__animation {
    animation-name: dishScaling;
    animation-duration: 0.65s;
    animation-fill-mode: both;
}

@keyframes dishScaling {
     0% {transform: scale(1);}  
     50% {transform: scale(0.5);} 
     100% {transform: scale(1);
        transform: rotate(36deg)}   
}

.dish__info__animation {
    animation-name: dishInfoScaling;
    animation-duration: 0.65s;
    animation-fill-mode: both;
}
@keyframes dishInfoScaling {
 from {transform: scale(0.4);}
 to {transform: scale(1);}
}

.test {
    display: flex;
    flex-direction: column;
    width: 680px;
    position: relative;
    left: 180px;
    align-items: center;
}

.wheel__section__selected__dish {
    display: flex;
    position: absolute;
    top: 550px;
    width: 700px;
    justify-content: space-between;

}